
/* styles.css */
.controls {
    padding: 10px;
    background: white;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    border-radius: 5px;
}

#map {
    height: 100vh;
    width: 100%;
}
